body{
    /* background-image: url(bu.png) !important; */
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: hidden;
}

*:focus{
    outline: none;
}

form{
    padding:0 100px;
    z-index: 10;
    border-spacing: 100em;
    background-image: url(buil.png);
    background-size: cover;
    opacity: .7;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} 


form input, textarea{
    width: 296px;
    border-radius: 4px;
    border: solid 1px blue;
}

form h3{
    text-align: center;
}

label, h3{
    color: blue;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: blue;
}

h3, label, input,textarea{
    
    color: blue;
    text-shadow: blue;
    font-weight: bolder;
   
}

#uju{
    text-shadow: blue ;
    position: relative;
    left: 3px;
    color: blue;
}

.co{
    
    text-shadow: blue ;
}

form input{
    height: 20px;
}



