*{
    margin: 0;
    padding: 0;
}
a{
    color: #fff;
    text-decoration: none;
}

body{
    background: #99BFEA;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    color: #0000ee;
    font-weight: bold;
    background-image: url(img/bu.png);
}

header{
    width: 100%;
    height: 75px;
    background: #183059;
    display: inline-flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    padding: 0 30px;
    position: relative;
    box-sizing: border-box;
}

header nav a:hover{
    color:#266BBA;
    font-size: 18px;
}

header::before{
    content: "";
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-top: 30px solid #183059;
    position: absolute;
    top:75px;
    left: 50%;
    transform: translateX(-50%);
}

header nav{
    width: 40%;
    display: inline-flex;
    justify-content: space-around;
    position: relative;
    right: -15px;
}

.container{
    width: 700px;
    height: 400px;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #266BBA;
    border-radius: 10px;
}

.page-1, .page-2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #266BBA;
}

.page-1{
    display: flex;
    justify-content: center;
    position: relative;
    border-right:solid 2px #183059;
    height: 300px;
    align-items: center;
}

#aa:hover{
    color:#183059;
}

.page-2{
    color: #fff;
    border-left:solid 2px #183059;
    height: 300px;
   
}

.page-2 > *{
    margin: 10px 0;
    padding:0 20px;
    color: #183059;
    
}

.page-1 div img{
    border-radius: 50%;
    margin: 20px auto;
    position: relative;
    left: 45px;
}


/*

.page-1 div{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}
/*
.page-1 div >*{
    margin: 20px 0;
}

.page-1 div img{
    border-radius: 50%;
}

*/
.page-1 div a h3 i{
    padding: 0 4px; 
    position: relative;
    top: 3px; 
}

.page-1 div a h3{
    width:238px;
}

#pp{
    text-align: justify;
    color:#183059;
}

.page-2 p strong{
    color:#99BFEA;
}

.container::before{
    content: "";
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-top: 30px solid #99BFEA;
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.container::after{
    content: "";
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid transparent;
    border-bottom: 30px solid #99BFEA;
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
/*
#aa{
    position: relative;
    left: 5px;
}*/

main{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    border: solid 1px;
    width: 790px;
    height: 350px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
}

main section img{
    width: 320px;
    height: 225px;
    border: solid 1px #0000ee;
}

section form input,textarea{
    display: block;
    margin-bottom: 20px;
}

.form{
    margin-left: 60px;
}

.fas, .far{
    padding-right: 8px;
    color:#0000ee;
}

section form input,textarea{
    width: 390px;
    padding: 10px;
    border: solid 1px #0000ee;
}

#submit{
    position: absolute;
    right: 19px;
    width: 97.5px;
    bottom: 2px;
}

.media{
  
    height: 15px;
  
    font-size: 32px;
    position: absolute;
    bottom: 39px;
}

.media i{
    margin-right: 20px;
}

.title-container{
    width: 790px;
    height: 60px;
    border: solid 1px;
    position: absolute;
    left: 50%; transform: translateX(-50%);
    text-align: center;
    top: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input:focus{
    outline: none;
    border: solid 1px #0000ee;
    border: none;
    border-bottom: solid 2px #0000ee;
}

textarea:focus{
    outline: none;
    border: solid 2px #0000ee;
    color: #0000ee;
}

input[type="submit"]:hover{
    background: #0000ee;
    color: #fff;
    font-weight: bold;
}

.nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    font-size: 24px;
    color: #0000ee;
}

nav ul li a{
    text-decoration: none;
}

.nav ul li:hover{
    font-size: 32px;
}

section h4{
    color: black;
    text-decoration: none;
    margin: 20px 0;
}

.fa-facebook-square:hover{
    color:#3b5998;
    transition: 0.5s;
    font-size: 40px;
}

.fa-instagram-square:hover{
    color: #8a3ab9;
    font-size: 40px;
    transition: 0.5s;
}

.fa-twitter-square:hover{
    color: #00acee;
    font-size: 40px;
    transition: 0.5s;
}

.fa-youtube:hover{
    color: #c4302b;
    font-size: 40px;
    transition: 0.5s;
}

.fa-linkedin:hover{
    color:#0077b5;
    font-size: 40px;
    transition: 0.5s;
}

section a{
    text-decoration: none;
}

ul li a{
    color: #0000ee;
}

.media a{
    color:#0000ee;
}
